.maecenas {
  &__inner {
    margin-bottom: 80px;
  }
  &__content {
    display: flex;

    @media (max-width: 1192px) {
      flex-direction: column-reverse;
      gap: 40px;
      max-width: 686px;
      margin: 0 auto;
    }
    &-left {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 25px;
      min-width: 255px;
      margin-right: 126px;
   
      a {
        color: var(--white);
      }

      @media (max-width: 992px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
      }
    }

    &-phones{ 
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
 
  }

  &__form {
    &-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      margin-bottom: 40px;
      @media (max-width:798px) {
        grid-template-columns: repeat(1, 1fr);

        input{ 
          width: 100%;
        }
      }
      @media (max-width:478px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        grid-gap: 15px;
      }
      
     

      .input-one {
        grid-column-start: 1;
        grid-column-end: 2;

  
      }
      .input-two {
        grid-column-start: 2;
        grid-column-end: 3;

      }
      .input-three {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        resize: none;
        width: 310px;
        height: 100px;

        @media (max-width:798px) {
        width: 100%;

          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 3;

         }
      }
      .input-four {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .input-five {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;

      @media (max-width:478px) {
         flex-direction: column-reverse;
         gap: 20px; 
      } 

      p {
        max-width: 390px;
        color: #989898;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
  &__input {
    border: 1px solid #616161;
    background: #444;
    width: 180px;
    height: 35px;
    min-width: 180px;

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      padding: 15px;
      color: #989898;
      font-size: 12px;
      font-weight: 600;
      line-height: 150%;
    }
  }
  &__textarea {
    border: 1px solid #616161;
    background: #444;
    width: 310px;
    display: none;

    @media (max-width:798px) {
        max-width: 100%;
    }
  
  }
}
.footer {
  &__border {
    width: 100%;
    display: block;
    height: 1px;
    background-color: rgba(86, 86, 86, 1);
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    color: #989898;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;
  }
}
